.add-button {
    font-size: 25px;
    background-color: #383799;
    width: 95px;
    border-radius: 50px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    float: right;
    margin-right: 2%;
    margin-top: 0.5%;
    line-height: 23px;
    border: 3px solid #232256;
}

.add-button:focus {
    border: 3px solid #232256;
    background-color: #4240b1;
    box-shadow: none !important;
}

.add-button:hover {
    border: 3px solid #232256;
    background-color: #4240b1;
}

.add-modal{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 18px;
    border-radius: 25px;
}

