.add-button{
    font-size:30px;
    color: white;
    background-color: #383799;
    border-radius: 25px;
    border: none;
    padding: 8px;
}

.add-button:hover{
    background-color: #2623e9;
}

.add-modal{
    background-color: #2623e9;
    color:white;
    width:360px;
    font-size:24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding:18px;
    border-radius:25px;
}

